/* 공통 common.css */
#wrap {}
#wrap * {transition: all 0.3s;}
#wrap .container {
    min-width: 320px;
    background-size: cover; background-position: center;
    padding: 70px 15px;
}
#wrap .container .contents {max-width: 1250px; margin: 0 auto;}
#wrap .container .contents h1 {margin: 0 0 40px;
    font-size: 1.38rem; font-weight: 500;
    line-height: 1.2;
}
#wrap .container .contents h1 .highlight {
    background-color: #fff; color: #050505;
    font-weight: 500;
}
#wrap .container .contents h1+p {
    font-size: 0.81rem; font-weight: 500;
    line-height: 1.7;
    margin: 0 0 22px;
}
/* mobile design - .sponsor_btn */
#wrap .container .sponsor_btn {
    background: linear-gradient(90deg, #FE9300, #FF7300);
    width: 164px; height: 41px; display: block; margin: 0 auto;
    border-radius: 37.5px;
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center; 
    gap: 10px;
}
#wrap .container .sponsor_btn::after {
    content: '>'; display: block; font-size: 0.75rem;
    color: #fff;
}
#wrap .container .sponsor_btn em {
    font-weight: 500; 
    color: #fff;
}
#wrap .container .sponsor_btn:hover::after {}
#wrap .container .sponsor_btn:hover::after {
    animation: sponsor_right 1s linear alternate infinite;
}
@keyframes sponsor_right {
    0% {transform: translateX(0);}
    100% {transform: translateX(5px);}
}